#formu{
	text-align: left;
	margin-top: 75px;
	margin-right: 200px;
	margin-left: 200px;
	font-family: arial;
	color: #123456;
}

input[type=submit]{
	margin-left:400px;
}

legend{
	text-align:center;
	color:#CE1515;
}

footer{
	font-size:10px;
	text-align:right;
}

#erreur{
	color:#FF0000;
	font-size:15px;
	margin-left:120px;
}

fieldset {
	padding:10 20px 20px 20px;
	margin-bottom:10px;
	margin-right:0px;
	border:1px solid #DF3F3F;
	background-color: #E1E1E1;
}


h1{
	text-align: center;
	margin-top: 100px;
	font-family: arial;
	font-size: 30px;
	font-weight: 800;
	margin-top:50px;
	color:#FF0000;
}
