#formu{
	text-align: center;
	font-family: arial;
	font-size: 15;
}

#basic{
	text-align: center;
	margin-left: 275px;
	margin-right: 275px;
}

#title{
	text-align: center;
	background-color: #EEEEEE;
	width: 150px;
}

#blocList{
	width: 300px;
}

.Absent{
	color: Tomato;
	margin-left: 20px;
}

.Present{
	color: MediumSeaGreen;
	text-align: center;
	margin-left: 20px;
}
.Retard{
	color: orange;
	text-align: center;
	margin-left: 20px;
}
legend {
	text-align: center;
	margin-left: 40px;
	margin-right: 200px;
}

footer{
	font-size: 10px;
	text-align: right;
	margin-top: 20px;
}

form{
	color: Tomato;
}
